@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fonts **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic');

/** Colors **/
:root {
  --color-primary: #9d0a0e;
  --color-secondary: #212121;
  --color-background: #e7e7db;
}
